/* RESPONSIVO DE SESSÃO PAGINA CASAL */
html,
body {
    overflow-x: hidden;
}

@media (max-width: 1024px) {

    .hero h1 {
        font-size: 3.5rem;
    }

    .love-card {
        padding: 35px;
        margin: 60px 20px;
    }

    .player-card {
        width: 90%;
    }

    .carrossel {
        width: 95%;
    }
}

/* TABLET */
@media (max-width: 768px) {

    .hero h1 {
        font-size: 2.8rem;
    }

    .hero p {
        font-size: 1rem;
        padding: 0 15px;
    }

    .hero-line {
        width: 120px;
    }

    .love-card {
        padding: 25px;
    }

    .love-card p {
        font-size: 1rem;
    }

    .card-title {
        font-size: 1.6rem;
    }

    .player-card {
        width: 90%;
        max-width: 800px;
        padding: 20px 25px;
        gap: 20px;
    }

    .album {
        width: 55px;
        height: 65px;
    }

    .controls {
        gap: 15px;
    }

    .controls button {
        font-size: 1.6rem;
    }

}

.tempo-grid {
    grid-template-columns: repeat(3, 1fr);
}

.polaroid {
    padding: 10px 10px 30px;
}

.polaroid img {
    height: 250px;
}

.polaroid span {
    font-size: 1.3rem;
}

.data-amor {
    font-size: 1.8rem;
}

/* CELULAR */

@media (max-width: 480px) {

    .hero h1 {
        font-size: 2.2rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-line {
        width: 90px;
    }

    .love-card {
        padding: 20px;
        margin: 40px 15px;
    }

    .love-card h2 {
        font-size: 1.2rem;
    }

    .tempo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .time-card span {
        font-size: 1.5rem;
    }

    .player-card {
        width: 120%;
    }

    .album {
        width: 70px;
        height: 70px;
    }

    .carrossel {
        width: 100%;
    }

    .polaroid {
        padding: 8px 8px 20px;
    }

    .polaroid img {
        height: 200px;
    }

    .polaroid span {
        font-size: 1.2rem;
    }

    .data-amor {
        font-size: 1.2rem;
    }
}

.footer {
    font-size: 1rem;
    padding: 40px 10px;
}
